@import "tailwindcss";

@theme {
  --font-sans: "Cormorant Garamond", "Shippori Mincho", serif;
  --font-serif: "Shippori Mincho", "YuMincho", "Yu Mincho", "Hiragino Mincho ProN", serif;
  --font-display: "Cormorant Garamond", "Georgia", serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
